<a href="https://colab.research.google.com/github/muzuvajoshua/python-and-deep-learning/blob/main/My_recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

# Week 1, Class 1: Python Vocabulary & Fundamentals

- 24/07/2023

## Topics

Hello this is a text cell

- Python Vocabulary

# PYTHON VOCABULARY

## Basic Python Concepts

### Variables

- **Variable**:
    - piece of data stored in memory under a specific name.

- Variable Types:
    - strings
    - lists
    - dictionaries
    - tuples
    - integers

In [ ]:
print("My first line of code")
print("Hello World")

My first line of code
Hello World

In [ ]:
print('The name is Josh')

The name is Josh

#### Declaring variables and commenting <br>
The syntax is: <br>
variable_name = variable_value

In [ ]:
#Adding 2 variables
var1 = 2
var2 = 5

print(var1 + var2)

7

In [ ]:
# Make a string variable

str_var = "This is a string"
bool_var = True
int_var = 7327
float_var = 6.99

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

Adopted from [w3schools](https://www.w3schools.com/python/python_variables_names.asp)

[Recommended further reading](https://www.w3schools.com/python/python_variables.asp): (assigning multiple values, global variables)

#### Commenting <br>

Python supports both single-line(block) and multi-line comments.<br>
A single-line comment starts with the # symbol and multiple-line(docstrings) comments can be wrapped in tripple quotes (" " ")

In [ ]:
# This is a single-line comment
# print(bool_var)

Multi-line comments are typically used as docstrings to document parts of code e.g functions <br>
These can be one-line docstrings or multi-line. See exmaples below

In [ ]:
# A function with a one-line docstring
def domywork():
  """ this is a multi line comment
  as u can see here
  """
  pass

#### Displaying output <br>
We use the **print** function. It is an inbuilt function that displays output.

In [ ]:
str_var = "this is my string variable"
print(str_var)

this is my string variable

Because notebooks are interactive, we may sometimes get the variable output without using the print function e.g.

In [ ]:
str_var

'this is my string variable'

In [ ]:
# String inbuilt functions
str_var
print(str_var.upper())
print(str_var.lower())

THIS IS MY STRING VARIABLE
this is my string variable

#### Getting user input <br>
We use the input function.

In [ ]:
var_user_input = input()

#displaying the value of the var_user_input variable.
var_user_input

yoooooooooooooooooo

'yoooooooooooooooooo'

#### Operators <br>
Operators are used to perform operations. These operations can be applied to variables and values. <br>
There are different types of operators; Arithmetic operators, Assignment operators, Comparison operators, Logical operators, Identity operators, Membership operators, Bitwise operators. <br>
Operations evaluate to some output.

In [ ]:
# our variables
x = 67
y = 90

 Arithmetic operators and operations

In [ ]:
# Addition (+)
print(x+y)
# Subtraction (-)
print(x-y)
# Multiplication (*)
print(x*y)
# Division
print(x/y)
# Floor Division (//)
print(x//y)
# Modulus (%)
print(y%x)
# Exponention (**)
print(x**4)

157
-23
6030
0.7444444444444445
0
23
20151121

Assignment operators and operations

In [ ]:
# We have already looked at typical variable assignment e.g. x=2

# Can take on more complex assignments
print(x)
x += 3# this adds whatever is on the right of the += to what's on the left
# x -= 3
# x *= 3
# x /= 3
# x %= 3
print(x)

79
82

Comparison operators and operations

In [ ]:
# Equal (==)
print(x == y)
print(1 == 3)

False
False

In [ ]:
# Not equal (!=)
print(x != y)

True

In [ ]:
# Greater than (>) and less than (<)
x > y
x < y

# They can also be combined with other operators e.g =
x >= y
y <= x

Simple math <br>
We can perform more complex operations by combining many operators, values and variables. e.g. <br>
x + y**2 +4 /x. <br>
It is immportant to know that the order of operations matters  for such scenarios. <br>
Order of Operations. <br>
This means that the following order will be maintained when solving calculations:


1.   Parentheses
1.   Exponents
2.   Multiplication/Division
2.   Addition/Subtraction

In [ ]:
# Consider the exmaple below.
# We shall use the variables x and y
# Display the values of x and y
print(x)
print(y)

In [ ]:
x + y / 3

In [3]:
x=5
y=9
(x+y) / 3

4.666666666666667

Calculating Mortgage Payment Exercise (Practice)

Let us attempt this practise exercise together. The morgage payment is given by the formula <br>

\begin{align}
        \mathbf{P}* \frac{r(1+r)^n }{(1+r)^n -1}
    \end{align}

Where:


*   P = principal (amount borrowed)
*   r = interest rate/12
*   n = term (number of payments)



1)How much would the monthly payment be for a 30 year mortgage (30 * 12 = 360 month term) with a 400,000 dollar principal and a 3% APR (interest rate with fees included)?

In [5]:
# Define variables
p = 400000
r = 3/100
n = 360
compounded_interest =((1+r)**n)

In [6]:
payment = (p * (r*compounded_interest) / (compounded_interest - 1))
payment

12000.286939763988

In [ ]:
# write the formula here.
# Feel free to use intermediate variables and as many cells as you would like
# Expected answer = 12000.286939763988

Small note on python float point precision.  
Some times it is important to present float values witha certain precision e.g 3 decimal places. There are a few ways you can do this:

In [7]:
# Using math to get the floor or ceiling
import math
print(math.floor(0.67))
print(math.floor(0.45))
# The math.floor function returns the lower integer value.
print(math.ceil(0.67))
print(math.ceil(0.45))
# The math.ceil function returns the larger(next) integer value.
# NOTE. These functions do not round off
print(math.trunc(0.67))
print(math.trunc(2.45))
# The math.trunc function cuts off all decimal places.

0
0
1
1
0
2

In [28]:
# Rounding off with round
print(round(0.67))
print(round(0.45))
print(round(0.5))
print(round(0.500001))
# The round function thresholds at 0.5
# You can also specify the number of decimal places as an extra argument
print(round(0.255626, 5))

1
0
0
1
0.25563

In [19]:
print(round(0.500000000000000001))

0

In [20]:
# Floating point precision with print
float_value = 4.73763873
print(float_value)
# Using the % formatting symbol
print("The value to 3 dp is %.3f" %float_value)
# Using the format function
print("The value to 3 dp is {0:.3f}".format(float_value))
# Using format strings
print(f"The value to 3 dp is {float_value:.3f}")

4.73763873
The value to 3 dp is 4.738
The value to 3 dp is 4.738
The value to 3 dp is 4.738

Read more on string formating.


*   https://realpython.com/python-string-formatting/
*   https://www.learnpython.org/en/String_Formatting

## Booleans and Conditionals  
Booleans are represented by 2 values i.e. True or False.  
There are many scenarios where you will want to evaluate an expression to get a boolean.

In [1]:
# Recap boolean variables
true_var = True
false_var = False

In [5]:
print(type(true_var))
print(type(false_var))
print(type(False))

<class 'bool'>
<class 'bool'>
<class 'bool'>

In [6]:
# Some expressions evaluate to a boolean value
a = 32
b = 56
print(a>b)
print(a<b)

False
True

In [7]:
# What will the following expressions evaluate to
# print(a>32)
# print(a>=32)

#they evaluate to
print(a>32)
print(a>=32)

False
True

In [9]:
# Write an expression that evaluates to a boolean using the eguality/non-equality operator.
print(a==32)
print(b!=56)

True
False

The above expressions define conditions whose value can be checked with the **if statement**.  
The **if statement** is used to check if an expression evaluates to **True**.  
The genral syntax is:

<br><br>
*if condition:*  
> *do_something...*

In [12]:
# An example:
if a>b:
  print("a is greater than b")

In [13]:
# Another example:
if a<b:
  print("a is less than b")

a is less than b

**NOTE** there we have indented the code block for the if statement. This is because python uses indentation to define the scope of a code block.  

In colab when you hit the enter/return key after the full-colon (**:**), the cell will automatically indent the code.

In [15]:
# Same example as before without identation. What will happen
# if a<b:
# print("a is less than b")

#brings indentation error

IndentationError: ignored

The if statement will typically be used with the **elif** and **else** statement to control the flow of the alternative option.

![If-Else-in-Python.jpg]()  

Credit : [EDCUBA](https://www.educba.com/if-else-in-python/)

In [16]:
# Let us combine the 2 if statements into one by using the else statement.
if a>b:
  print("a is greater than b")
else: # Notice that this will run when the condition for the if satement evaluates to False
  print("a is less than b")

a is less than b

In [17]:
# We can use elif when we have more than 1 condition to evaluate.
c = 48
print(a)
print(b)
print(c)

32
56
48

In [18]:
# We want to check independently if a and b are greater than c
if a > c:
  print("a is greater than b")
elif b > c:
  print("b is greater than c")

b is greater than c

In [19]:
# The elif statement can always be followed by an else statement when you need to evaluate the alternative. e.g
if a > c:
  print("a is greater than b")
elif c > b:
  print("c is greater than b")
else:
  print("b is greater than a and c")

b is greater than a and c

In [20]:
# Write an if statement to check if the sum of a and c divided by 2 is greater than b. i.e. if(a+c)/2
# is greater than b
d =(a+c) / 2

if(d > b):
  print("d is greater than b")
else:
  print("not even the addition of the 2 compares")

not even the addition of the 2 compares

At this point you are ready to do the [FizzBuzz](https://login.codingdojo.com/m/551/13195/92394) practise exercise.

### Iterables


- **Iterable**:
    - a variable type that holds multiple entries.
        - Any variable you can loop through is an iterable:
            - Lists
            - Dictionaries
            - Tuples
            - Sets

Lists are an in-built datatype used to store collections of data.  
Lists are ordered, mutable/changeable, can have multiple data types

In [1]:
# Defining a list
myList = ["a", "b", "c"]
myList

['a', 'b', 'c']

In [23]:
# Multiple type list
multiple_data_type_list = ["a", 2, [5,6, None], "three"]
print(multiple_data_type_list)

['a', 2, [5, 6, None], 'three']

In [26]:
# Lists can also be created using the list constructor
list_from_constructor = list((1,2,3,"4", "five"))
print(list_from_constructor)

[1, 2, 3, '4', 'five']

### Slicing/Indexing



- **Slicing/Indexing**:
    - Extracting the desired information from an iterable.
    - We use `[ ]` to indicate the item we want using its index
        - For lists, tuples, index = integer.
        - For dictionaries,  index = keys

In [2]:
# Lists are zero-indexed i.e the indices start from zero
myList[0]

'a'

In [4]:
# myList[3]
# Uncomment to see result
# The max index of a list is number of items -1

In [5]:
# Accessing values in the list using the index
myList[2]

'c'

In [6]:
# Lists also support negative indexing. Negative indices enable access of elements from the end of the list e.g.
myList[-1] # will return the last element of the list

# Please note that negative indices are not zero-indexed.

'c'

List slicing - a slice is a portion of a list. A list can be sliced using this format   *listname[start, end, step(optional)]* .  
The list slice will include the value at the start index upto the value at the end index-1.  
The optional step value defines how many elemnets to skip in the slice.

In [7]:
# Let us definne a new list
numbersList = [1,2,3,4,5,6,7,8,9,10]

In [8]:
# Slicing from the first element to the ninth element
print(numbersList[0:9])
# Slicing from the first element to the seventh element
print(numbersList[0:7])

# Slicing from the third element to the sixth element
print(numbersList[2:6])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6]

In [9]:
# Using the step parameter
print(numbersList[0:10:1]) # Step is 1

# Using the step parameter
print(numbersList[0:10:2]) # Step is 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [10]:
# If we do not specify the end index, the slice will go up to the end
print(numbersList[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# Slice the list from the first value to the second-last value.
# Hint: Use negative indexing for the end index
print(numbersList[0:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Lists have inbuilt fucntions that can be used to manipulate and access elements in a list.  
Some of the popular methods are:

*   count() - this returns the number of occurances of an element in the list
*   sort() - sorts the elements in the list in ascending order. It alters the list,
*   append() - adds an element to the list
*   remove() - removes the first occurance of a value in the list.
*   pop - removes an element at the specified index.
*   insert() - adds an element before the specified index.

In [13]:
# Define a list
my_other_list = [3,2,4,3,1,5,3,5,6,7,99,23,2]

In [17]:
# Getting the count
print(my_other_list.count(2))

2

In [21]:
# Sorting
my_other_list.sort()
print(my_other_list)

# Try with different data types
str_list = ["b", "th", "a", "apple", "boy"]
str_list.sort()
print(str_list)

# What happens when we mix data types

# complex_list = [3,5,6,"well", "apple", "a"]
# complex_list.sort()
# print(complex_list)
# only works for same datatypes

[1, 2, 2, 3, 3, 3, 4, 5, 5, 6, 7, 23, 99]
['a', 'apple', 'b', 'boy', 'th']

You can get a copy of the soorted list using the inbuilt sorted() function [link text](https://www.w3schools.com/python/ref_func_sorted.asp).

In [26]:
# Appending
my_other_list.append(97654)
my_other_list.sort()
print(my_other_list)

[1, 2, 2, 3, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 97654]

In [27]:
# Removing an element
my_other_list.remove(3)
print(my_other_list)

# We can verify by getting the new count of 3
print(my_other_list.count(3))

[1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 97654]
2

In [28]:
# Removing by index
my_other_list.pop(0)
print(my_other_list)

[2, 2, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 97654]

In [31]:
# Adding an element at an index
my_other_list.insert(0, 1)
print(my_other_list)

my_other_list.insert(-1,9)
print(my_other_list)

my_other_list.insert(5,1)
print(my_other_list)

my_other_list.insert(8,90)
print(my_other_list)

[1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 9, 97654]
[1, 1, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 9, 9, 97654]
[1, 1, 1, 2, 2, 1, 3, 3, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 9, 9, 97654]
[1, 1, 1, 2, 2, 1, 3, 3, 90, 4, 5, 5, 6, 7, 23, 89, 99, 99, 97654, 9, 9, 97654]

In [32]:
mylists =[1,2,3,4]

mylists.insert(-1,90)
print(mylists)
mylists.insert(-2,89)
print(mylists)
mylists.insert(-3,87)
print(mylists)
mylists.insert(-4,85)
print(mylists)

[1, 2, 3, 90, 4]
[1, 2, 3, 89, 90, 4]
[1, 2, 3, 87, 89, 90, 4]
[1, 2, 3, 85, 87, 89, 90, 4]

### Tuples

Tuples are another kind of collection you will run into in Python. Tuples are similar to lists in some ways and different in others. They contain data and are ordered, and they can store any combination of other objects. The difference is that tuples can not be changed. They are immutable.

In [34]:
first_tuple = (1,2,3,4,5,6,7,8,9,10)
print(first_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [35]:
another_tuple = (1, "2", 6, ["hello", "world"], (5,33,0.34))
print(another_tuple)

(1, '2', 6, ['hello', 'world'], (5, 33, 0.34))

Tuples are indexed and slicable just like lists

In [36]:
first_tuple[1]

2

In [39]:
first_tuple[0:4]
print(another_tuple[0:4])

(1, '2', 6, ['hello', 'world'])

In [40]:
first_tuple[-1]

10

Unpacking tuples is the process of removing values from a tuple and storing them into variables.

In [41]:
# Let us define a tuple with three values
profile_tuple = ("Jeremy", "Ugandan", "Software Engineer")

In [42]:
# To unpack the tuple we simply define the variables that we want the values to be assigned to.
# Because tuples are ordered, the variables will be assigned values based on the ordering in the tuple

user_name, user_country, user_job = profile_tuple

# Display the unpacked values
print(f'Username: {user_name}\nCountry: {user_country} \nJob: {user_job}')

Username: Jeremy
Country: Ugandan
Job: Software Engineer

In [45]:
# To unpack to more than one variable, the number of variables must be equal to the number of values in the tuple.
# Otherwise this will lead to an error
print(first_tuple)
a,b,c,d,e,f,g,h,i,j = first_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Dictionaries

**Key: Value Pairs**  

Dictionaries are unordered collections of data stored as key/value pairs. You can think of dictionaries as books with a table of contents. The table of contents is called the ‘keys’ and the chapters they refer to are called the ‘values’. Every item in the table of contents tells the location of a chapter, and every chapter is listed in the table of contents

Every key in a dictionary is paired with a value. You can add and remove data from a dictionary but must do so for both the key and the value.

If we wanted to use a dictionary for our restaurant example, we could use it to keep track of which table a customer has been seated at. The keys could be customer names, and the values could be the table number they are at. A server could very quickly see where to find each customer.

In [46]:
# Dictionaries can be created using the syntax {key: value}
number_dict = {1: "One", 2: "Two", 3: "Three"}
print(number_dict)

{1: 'One', 2: 'Two', 3: 'Three'}

In [47]:
# Dictionary keys and values can be any type
another_dict = {"1": 1, "name": "Jeremy", 3: [6,5,7,8]}
print(another_dict)

{'1': 1, 'name': 'Jeremy', 3: [6, 5, 7, 8]}

In [53]:
# We can also create more complex dictionaries
complex_dict = {
    "parent":
      {"children":
       {"grandchildren":["great grandchild1", "great grandchild1"]}
      },
    "a": another_dict}
print(complex_dict)

# print(complex_dict['grandchildren'])

{'parent': {'children': {'grandchildren': ['great grandchild1', 'great grandchild1']}}, 'a': {'1': 1, 'name': 'Jeremy', 3: [6, 5, 7, 8]}}

In [49]:
# Creatring an empty dictionary
empty_dict = {}

print(empty_dict)

{}

Adding/Changing values to a dictionary. The most common approach to do this uses the syntax  
 *dictionary_vairable_name[key] = value*.

In [55]:
# Adding a new key 4 with string value "Four"
print(number_dict)
number_dict[4] = "Four"
number_dict[1] = 4

print(number_dict)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
{1: 4, 2: 'Two', 3: 'Three', 4: 'Four'}

In [56]:
# Replacing the value of key 3 in the dictionary
number_dict[3] = "Replaced Value"

print(number_dict)

{1: 4, 2: 'Two', 3: 'Replaced Value', 4: 'Four'}

What happens is:  
1. Check if the key exists in the dictionary.
2. If the key exists, replace the value in the dictionary.
3. Else create a new kay and value pair in the dictionary

To remove a dictionary key, one can use the inbuilt methods **del** and **pop**.Since dictionary keys are immutable, deleting the key also deletes its value.

In [62]:
# Using del. The syntax is del dictionary_variable_name[key]
# Removing key 3
print(number_dict)
del number_dict[2]

print(number_dict)

{1: 4, 2: 'Two'}
{1: 4}

In [58]:
# Using pop. The syntax is dictionary_variable_name.pop(key)
# Removing key 4
print(number_dict)
popped_value = number_dict.pop(4)

print(popped_value)

print(number_dict)

{1: 4, 2: 'Two', 4: 'Four'}
Four
{1: 4, 2: 'Two'}

The main difference between **del** and **pop** is that the **pop** method returns the value of the deleted key whereas **del** does not return anything. Deleting a non-existent key will return an error.

In [65]:
# Uncomment to see error
# number_dict.pop("Does not exist")

A dictionary can also be initialized using the dict() constructor/method

In [66]:
my_dictionary = dict(
    Lion = "Animal",
    Parrot = "Bird",
    Cobra = "Reptile",
    Human = 'Mammals'
    )
print(my_dictionary)

{'Lion': 'Animal', 'Parrot': 'Bird', 'Cobra': 'Reptile', 'Human': 'Mammals'}

Or using lists

In [68]:
# define the lists
Keys = ["Lion", "Parrot", "Cobra", "Human"]
Values = ["Animal", "Bird", "Reptile", "Mammals"]

# Zip the lists and pass them to the dict constructor
my_dict = dict(zip(Values,Keys))

print(my_dict)

{'Animal': 'Lion', 'Bird': 'Parrot', 'Reptile': 'Cobra', 'Mammals': 'Human'}

Or with tuples

In [69]:
# define list with tuples
Tuples = [(1 , "Integer"), (2.0 , "Decimal"), ("Lion" , "Animal"),("Parrot" , "Bird")]

# pass list of tuples to the dict constructor
My_dict = dict(Tuples)

print(My_dict)

{1: 'Integer', 2.0: 'Decimal', 'Lion': 'Animal', 'Parrot': 'Bird'}

There are several other ways to initialize a dictionary. [Read more](https://www.askpython.com/python/dictionary/initialize-python-dictionary)

### For loops and iterables.

For loops enable us to repeat an operation. Typically one will lop d over some collection of data like a list and run some operation on the data. For loops in python are applied to an iterable. Anything that can be traversed in order is iterablea nd examples include Lists, tuples, dictionaries, sets, strings, and range objects.

Remember our list stored in variable *numbersList*. We can loop over the list and do diffretnt things to the data.  
The for loop syntax generally looks like   


```
for variable in iterable:
  do something
```

In [70]:
# Loop over the list and print the numbers inside the list
print(numbersList)

for n in numbersList:
  print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

Note that ***n*** is simply a variable we define for the current value (in this case the value in the list) of the element in the iterable.

In [71]:
# Loop through the list and add 1 to every number and print the output
for n in numbersList:
  n_plus_1 = n+1
  print(n_plus_1)

2
3
4
5
6
7
8
9
10
11

In [72]:
# We can use string formatting to improve the output
print('Original Value:\t New Value:')
for n in numbersList:
  n_plus_1 = n+1
  print(f'{n} \t\t {n_plus_1}')

Original Value:	 New Value:
1 		 2
2 		 3
3 		 4
4 		 5
5 		 6
6 		 7
7 		 8
8 		 9
9 		 10
10 		 11

Let's create a new list with the original numbers in the numbersList plus 1.  
The flow will be;
1. Create an empty list for the new values(original value +1)
2. Loop through the numbersList.
3. For every number in the numbersList, add 1  to get the new value.
4. Append the new value to the new list.

In [78]:
# Part 1 and 2 have already been done above.
# Update the loop to finish steps 3 and 4

# Loop through the list and add 1 to every number
mylist =[]

for n in numbersList:
  n_plus_1 = n+1
  mylist.append(n_plus_1)

print(numbersList)
print(mylist)

mylist2 = [n + 1 for n in numbersList]
print(mylist2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Looping with dictionaries
Remember that dictionaries have 2 items; a key and a value.


```
{key1: value1, key2: value2}
```

In [79]:
# Run this cell to create a dictionary with room type and standard rate
standard_dict = {'Basic': 100,
              'Deluxe': 125,
              'Balcony' : 200,
              'Luxury' : 250}
print(standard_dict)

{'Basic': 100, 'Deluxe': 125, 'Balcony': 200, 'Luxury': 250}

In [80]:
# We can loop through the dictionary just like the list.
for s in standard_dict:
  print(s)

Basic
Deluxe
Balcony
Luxury

Note that this only returns the key in the dictionary. To access the key and values, we use a dictionary method **items()**. This will return both the key and value.
The **dictionary.items()** method returns a tuple of the key and value which can be unpacked to 2 variables.

In [81]:
# Loop through and print the tuple of the key and value
for s in standard_dict.items():
  print(s)

('Basic', 100)
('Deluxe', 125)
('Balcony', 200)
('Luxury', 250)

In [82]:
# We can improve this further, by unpacking the tuple returned by dictionary.items()
for key, value in standard_dict.items():
  print(key, value)

Basic 100
Deluxe 125
Balcony 200
Luxury 250

In [83]:
# Improve output with string formatting
for key, value in standard_dict.items():
  print(f'A {key} room costs {value}')

A Basic room costs 100
A Deluxe room costs 125
A Balcony room costs 200
A Luxury room costs 250

### Functions

- **Function**:
    - A"self contained" block of code that accomplishes a specific task.
    - e.g.:
        - `type` function
        - `print` function  <br>
  You can pass data, known as parameters, into a function.  
  A function can return data as a result using the return and yield keyword.
    - When we want to use a function we need to add`()` and whatever variables the function needs. This is known as a function call:
        - `print(var)`

Benefits of functions:  
* Help to accomplish repititive tasks with less code
* Reduce code complexity i.e. make code modular and easy to work with

There are **inbuilt** functions and **user-defined** functions.  
We have already seen examples of inbuilt functions like the **print()**, **type()** and there are others like **min()**, **max()**, **random()** among others.

Fucntions may return some output or not and are called with the snytax.


```
functionName(optional arguments)
```

Checking types

In [88]:
# strings
bool_var = "yes"
type(bool_var)

str

In [89]:
# list
list_var = [1, 4, 'cheese', 19]
type(list_var)

list

In [90]:
# tuples
tuple_var = (1, 4, 'cheese', 19)
type(tuple_var)

tuple

In [91]:
# Get the maximum using max()
max(3,4)

4

In [92]:
# Can take more than 1 argument
max(34,122,67,3)

122

In [93]:
# Get the sum of a list
sum(numbersList)

55

User defined functions.   
Functions are defined using the keyword **def** followed by the function name and parentheses. In the parentheses, a user may add parameters or not.


```
user-defined-funtion-name()
```
or with parameters


```
user-defined-funtion-name(parameters)
```




A aparameter is a variable listed in the parenthenses of a funtion definition and is typically intended for use within the function. Parameters can be described as placeholders for arguments that will be passed to the function when it is called.

In [94]:
# Example function
def some_random_function():
  print("Hello, how are you?")

In [95]:
# Calling our funtion
some_random_function()

Hello, how are you?

In [96]:
# Example function with parameters
def print_my_name(name):
    print("Hello "+name+", how are you?")
    # Another way to format the output

In [97]:
# Calling the function and passing arguments

print_my_name("Jeremy")

Hello Jeremy, how are you?

In [98]:
# A function that returns a value
def add_two_numbers(num_1, num_2):
  return num_1 + num_2

In [99]:
add_two_numbers(45,34)

79

In [100]:
# When a function returns a value we can store it in a variable
sum_of_two_values = add_two_numbers(45,34)
print(sum_of_two_values)

79

In [103]:
# def my_name_is(name):
#   name_is = name

def my_name_is(name):
  name_is = name
  return name_is

In [104]:
n = my_name_is("Jeremy")
print(n)
# What happens when it does not return a value
# nothing is displayed

Jeremy

[Reading assignment](https://login.codingdojo.com/m/606/13775/99048): Read about positional arguments,  keyword arguments  and scope  of arguments

### Fucntions Practise

In [110]:
# Let us define some lists of temperatures in fahrenheit
week_1 = [45, 55, 49, 60, 52, 55, 58]
week_2 = [51, 49, 62, 50, 53, 56, 59]
week_3 = [60, 60, 61, 62, 57, 59, 58]
week_4 = [59, 63, 62, 61, 65, 66, 62]


# List of Celsius temps
week_5_celsius = [15, 16, 14, 19, 17, 17, 16 ]

In [105]:
# Custom function to calculate celsius from fahrenheit


def convert_f_to_c(f_temp):
  # Convert Farhenheit to Celsius
  c_temp = (f_temp - 32) * (5/9)
  # Round Celsius to 2 decimal places
  c_temp = round(c_temp, 2)
  return c_temp

In [107]:
def convert_f_to_c(f_temp):
  # Convert Farhenheit to Celsius
  c_temp = round(((f_temp - 32) * (5/9)), 2)
  return c_temp

In [108]:
# Testing the function
convert_f_to_c(500)

260.0

Convert the 3rd value in the week_2 list.

In [114]:
# Put answer here
print(week_2[2])
value = week_2[2]
convert_f_to_c(value)

62

16.67

How can we convert and display all the values in the list week 1?  (Hint: use a for loop)

In [116]:
# Write a function that converts celsius temperatures to fahrenheit
def convert_c_to_f(c_temp):
  f_temp = round(((c_temp + 32) * (9/5)),2)
  return f_temp

myvalues = [convert_c_to_f(n) for n in week_1]
print(week_1)
print(myvalues)

[45, 55, 49, 60, 52, 55, 58]
[138.6, 156.6, 145.8, 165.6, 151.2, 156.6, 162.0]

In [117]:
# Try out re-doing the Mortgage Payment Exercise using a function that takes the pricipal, the rate and term as parameters and returns the monthly payment.
def payment(principal, rate, term):
  return (principal * ((rate *((1 + rate) ** term)) / (((1 + rate) ** term) - 1)))

payment(400000, 0.03, 360)

12000.286939763988

### Acknowledgements
Parts of this notebook were adapted from:

*   https://jckantor.github.io/CBE30338/01.01-Getting-Started-with-Python-and-Jupyter-Notebooks.html
*   https://www.pythontutorial.net/python-basics/python-comments/


*   [W3 schools](https://www.w3schools.com/python/)
*   [Askpython](https://www.askpython.com/python/dictionary/python-dictionary-dict-tutorial)